.Flag {
    width: 60px;
    height: 20px;
}

.GreenPart {
    background: green;
}

.GreenPart.darker {
    background: darkgreen;
}

.WhitePart {
    background: antiquewhite;
}

.WhitePart.darker {
    background: lightgrey;
}

.OrangePart {
    background: orange;
}

.OrangePart.darker {
    background: darkorange;
}
