.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.Background {
  background: darkgrey;
}

.Harry {
  color: green;
}

.Zayn {
  color: yellow;
}

.Louis {
  color: blue;
}

.Liam {
  color: red;
}

.Ni {
  color: green;
}

.a {
  color: antiquewhite;
}

.ll {
  color: orange;
}
